{% extends 'majestic/base.html' %}
{% load static %}



{% block meta_tags %}
<meta name="keywords" content="">
<meta name="description" content="">
{% endblock %}

{% block page_heading %}
<title>Церковная вышивка – Услуги компании Majestic</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'majestic/css/service-item.min.css' %}">
{% endblock %}



{% block page_section_head %}
Церковная вышивка
{% endblock %}


{% block body_content %}
<section class="service-description">
    <div class="service-description__content _container">
        <p>На протяжении столетий в богослужениях и обрядах православной церкви используются вышитые изделия. До нас дошли, бережно сохраненные, образцы церковной вышивки прежних лет. И сегодня в убранстве современного храма привычно видеть вышивку и красивое церковное шитье.<br><br>Сейчас технологии машинной вышивки позволяют создавать красивые изделия по старинным образцам. Сохраняя традиционные узоры, вышивка на промышленной машине делает богослужебное шитье недорогим и доступным в каждый православный храм.<br><br>Создание церковной вышивки сложная и ответственная работа. Каждое изделие для храма, создается с особым вниманием. Прежде чем воплотить замысел в изделие, тщательно подбираются цвета ниток, на компьютере пишется программа для вышивальной машины. Но для качественной вышивки, еще нужно знать особенности материала. На бархате и льне одна программа вышьет по-разному.</p>
    </div>
</section>
<!-- / end of description of service -->


<section class="service-section">
    <div class="service-section__content _container">
        <h3 class="service-section__heading">
            Примеры работ
        </h3>
        <!-- ### Need add images -->
    </div>
</section>
<!-- / end of part of service block -->


<section class="service-section">
    <div class="service-section__content _container">
        <h3 class="service-section__heading">
            Особенности церковной вышивки:
        </h3>
        <ol class="service-section__list">
            <li>Широко применяется золотое и серебряное шитье. Эта технология используется для изделий церковного обихода, в том числе, для восстановления или «поновления», если использовать терминологию, специальных предметов.</li>
            <li>С помощью вышивки изготавливают рисунки на плащаницах, митрах и оплечьях священников.</li>
            <li>Обязательным является нанесение соответствующих рисунков и надписей на комплекты для проведения литургий – покровцы, воздуха, а также на хоругви.</li>
            <li>Текстиль для обрядов – крещения, венчания, погребения также должен быть украшен определенным образом, для чего используются специальные нити и технология машинного нанесения.</li>
        </ol>
        <p class="service-section__paragraph">Вышивка используется даже для икон и иконостасов. Среди особенностей церковной вышивки – применение натуральных материалов, золота, канитель на хлопке, шелке, льне или бархате. Именно технология машинной вышивки позволяет создать шедевры, которые соответствуют всем церковным канонам. </p>
    </div>
</section>
<!-- / end of part of service block -->
{% endblock %}