{% extends 'majestic/base.html' %}
{% load static %}



{% block meta_tags %}
<meta name="keywords" content="">
<meta name="description" content="">
{% endblock %}

{% block page_heading %}
<title>Стоимость машинной вышивки — Вышивальная компания Majestic</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'majestic/css/cost.min.css' %}">
{% endblock %}



{% block page_section_head %}
Стоимость вышивки
{% endblock %}


{% block body_content %}
<section class="advantage">
    <div class="advantage__inner advantage-content _container">
        <p class="advantage-content__text">
            * Для оптовых заказчиков есть индивидуальные условия
        </p>
    </div>
</section>
<!-- / end of advantage text -->


<section class="cost">
    <div class="cost__inner cost-content _container">

        <h3 class="cost-content__heading">
            Вышивка на крое
        </h3>
        <!-- / end of heading -->

        <div class="cost-content__table-wrapper table-wrapper">
            <table class="table-wrapper__table table">
                <thead class="table__head table-head">
                    <tr class="table-head__row tb-head-row tb-head-row--border">
                        <th class="tb-head-row__cell">Тираж</th>
                        <th class="tb-head-row__cell">Цена за 1000 стежков в рублях</th>
                    </tr>
                </thead>
                <tbody class="table__body table-body">
                    <tr class="table-body__row tb-body-row tb-body-row--border">
                        <td class="tb-body-row__cell">50–100</td>
                        <td class="tb-body-row__cell">от 8</td>
                    </tr>
                    <tr class="table-body__row tb-body-row tb-body-row--border">
                        <td class="tb-body-row__cell">100–500</td>
                        <td class="tb-body-row__cell">от 7</td>
                    </tr>
                    <tr class="table-body__row tb-body-row tb-body-row--border">
                        <td class="tb-body-row__cell">500–1000</td>
                        <td class="tb-body-row__cell">от 6</td>
                    </tr>
                    <tr class="table-body__row tb-body-row">
                        <td class="tb-body-row__cell">свыше 1000</td>
                        <td class="tb-body-row__cell">от 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- / end of table -->

    </div>
</section>
<!-- / end of cost section -->


<section class="cost">
    <div class="cost__inner cost-content _container">

        <h3 class="cost-content__heading">
            Вышивка на готовых изделиях
        </h3>
        <!-- / end of heading -->

        <table class="cost-content__table table">
            <thead class="table__head table-head">
                <tr class="table-head__row tb-head-row">
                    <th class="tb-head-row__cell">Тираж</th>
                    <th class="tb-head-row__cell">Цена за 1000 стежков в рублях</th>
                </tr>
            </thead>
            <tbody class="table__body table-body">
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">50–100</td>
                    <td class="tb-body-row__cell">от 25</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">100–500</td>
                    <td class="tb-body-row__cell">от 15</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">500–1000</td>
                    <td class="tb-body-row__cell">от 10</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">свыше 1000</td>
                    <td class="tb-body-row__cell">от 9</td>
                </tr>
            </tbody>
        </table>
        <!-- / end of table -->

    </div>
</section>
<!-- / end of cost section -->


<section class="cost">
    <div class="cost__inner cost-content _container">

        <h3 class="cost-content__heading">
            Изготовление шевронов/нашивок
        </h3>
        <!-- / end of heading -->

        <table class="cost-content__table table">
            <thead class="table__head table-head">
                <tr class="table-head__row tb-head-row">
                    <th class="tb-head-row__cell">Тираж</th>
                    <th class="tb-head-row__cell">Цена за 1000 стежков в рублях</th>
                </tr>
            </thead>
            <tbody class="table__body table-body">
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">50–100</td>
                    <td class="tb-body-row__cell">от 10</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">100–500</td>
                    <td class="tb-body-row__cell">от 8</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">500–1000</td>
                    <td class="tb-body-row__cell">от 6</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">свыше 1000</td>
                    <td class="tb-body-row__cell">от 5</td>
                </tr>
            </tbody>
        </table>
        <!-- / end of table -->

    </div>
</section>
<!-- / end of cost section -->


<section class="cost">
    <div class="cost__inner cost-content _container">

        <h3 class="cost-content__heading">
            Дополнительные услуги
        </h3>
        <!-- / end of heading -->

        <table class="cost-content__table table">
            <thead class="table__head table-head">
                <tr class="table-head__row tb-head-row">
                    <th class="tb-head-row__cell">Услуга</th>
                    <th class="tb-head-row__cell">Цена</th>
                </tr>
            </thead>
            <tbody class="table__body table-body">
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">Упаковка готовых изделий</td>
                    <td class="tb-body-row__cell">от 2 ₽/ед.</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">Вышивка на трикотаже</td>
                    <td class="tb-body-row__cell">+10% к стоимости</td>
                </tr>
                <tr class="table-body__row tb-body-row">
                    <td class="tb-body-row__cell">Вышивка металлизированной нитью (золото,&nbsp;серебро)</td>
                    <td class="tb-body-row__cell">+20% к стоимости</td>
                </tr>
            </tbody>
        </table>
        <!-- / end of table -->

    </div>
</section>
<!-- / end of cost section -->


<section class="cost">
    <div class="cost__inner cost-content _container">

        <h3 class="cost-content__heading">
            Разработка программы для вышивки<br>
            <span>(дополнительные условия к прайсу)</span>
        </h3>
        <!-- / end of heading -->

        <div class="cost-content__description cost-description">
            <p class="cost-description__text">
                <span>Срок изготовления:</span> от&nbsp;1 до&nbsp;7 рабочих дней в&nbsp;зависимости от&nbsp;сложности.
            </p>
            <p class="cost-description__text">
                <span>Минимальная стоимость разработки:</span> 400₽.
            </p>
            <p class="cost-description__text">
                <span>Срочная разработка программы:</span> на&nbsp;индивидуальных условиях.
            </p>
            <p class="cost-description__text">
                При &nbsp;диновременном размещении заказа <span>от&nbsp;100&nbsp;ед.</span> программа изготавливается <span>бесплатно</span>.
            </p>
        </div>
        <!-- / end of description -->

    </div>
</section>
<!-- / end of cost section -->
{% endblock %}