{% load static %}
<footer class="body-wrapper__footer footer">

    <div class="footer__main footer-main">

        <nav class="footer-main__lists footer-lists">
            <ul class="footer-lists__item f-nav">
                <li class="f-nav__item f-nav-item">
                    <a href="{% url 'majestic:homepage' %}" class="f-nav-item__link">
                        Главная&nbsp;страница
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="" class="f-nav-item__link">
                        О&nbsp;компании
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="{% url 'majestic:cost' %}" class="f-nav-item__link">
                        Стоимость&nbsp;вышивки
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="" class="f-nav-item__link">
                        Оплата&nbsp;и&nbsp;доставка
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="{% url 'majestic:contacts' %}" class="f-nav-item__link">
                        Контактная&nbsp;информация
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="" class="f-nav-item__link">
                        Вопросы&nbsp;и&nbsp;ответы
                    </a>
                </li>
            </ul>
            <ul class="footer-lists__item f-nav">
                <li class="f-nav__item f-nav-item">
                    <a href="" class="f-nav-item__link">
                        Предоставляемые&nbsp;услуги
                    </a>
                </li>
                <li class="f-nav__item f-nav-item f-nav-item--nested">
                    <a href="" class="f-nav-item__link">
                        Вышивка&nbsp;на&nbsp;крое
                    </a>
                </li>
                <li class="f-nav__item f-nav-item f-nav-item--nested">
                    <a href="" class="f-nav-item__link">
                        Шевроны&nbsp;и&nbsp;нашивки
                    </a>
                </li>
                <li class="f-nav__item f-nav-item f-nav-item--nested">
                    <a href="" class="f-nav-item__link">
                        Вышивка&nbsp;на&nbsp;готовых&nbsp;изделиях
                    </a>
                </li>
                <li class="f-nav__item f-nav-item f-nav-item--nested">
                    <a href="" class="f-nav-item__link">
                        Церковная&nbsp;вышивка
                    </a>
                </li>
                <li class="f-nav__item f-nav-item">
                    <a href="" class="f-nav-item__link">
                        Карта&nbsp;сайта
                    </a>
                </li>
            </ul>
        </nav>
        <!-- / end of footer lists -->

        <div class="footer-main__contacts footer-contacts">
            <div class="footer-contacts__data f-contacts-data f-contacts-data--people">
                <p class="f-contacts-data__title">Хрустова Юлия</p>
                <p class="f-contacts-data__text">+7 (930) 707 75 55</p>
            </div>
            <div class="footer-contacts__data f-contacts-data f-contacts-data--people">
                <p class="f-contacts-data__title">Каширина Татьяна</p>
                <p class="f-contacts-data__text">+7 (920) 036 31 66</p>
            </div>
            <div class="footer-contacts__data f-contacts-data">
                <p class="f-contacts-data__title">Адрес почты</p>
                <p class="f-contacts-data__text">info@majestic-nn.ru</p>
            </div>
            <div class="footer-contacts__data f-contacts-data">
                <p class="f-contacts-data__title">Адрес офиса/производства</p>
                <p class="f-contacts-data__text">Нижний Новгород, ул.Геологов 1Л</p>
            </div>
        </div>
        <!-- / end of footer contacts -->

    </div>
    <!-- / end of footer main -->

    <div class="footer__additional footer-additional">
        <div class="footer-additional__info footer-info">
            <p class="footer-info__copyright">&copy; 2022. Вышивальная компания&nbsp;MAJESTIC</p>
            <p class="footer-info__policy footer-policy">
                <a href="" class="footer-policy__link">
                    Политика конфиденциальности
                </a>
            </p>
        </div>
        <p class="footer-additional__tech footer-tech">
            Разработка сайта
            <a href="https://denis-vyzulin.ru" target="_blank" class="footer-tech__link">
                Denis Vyzulin
            </a>
        </p>
    </div>
    <!-- / end of footer additional info -->

</footer>