.contacts__inner {
  width: 100%;
}

.feedback-content__title {
  margin-bottom: 8px;
}

.contacts {
  margin-top: 8px;
  margin-bottom: 36px;
}

.contacts-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.contacts-info__icon {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}
.contacts-info:not(:last-child) {
  margin-bottom: 16px;
}

.contacts-info-description__title {
  color: #272D38;
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}
.contacts-info-description__text {
  color: #545860;
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}

.manager__fullname {
  font-size: calc(20px + 4 * ((100vw - 320px) / 920));
}

.manager-phone {
  margin-top: 4px;
}
.manager-phone__link {
  transition: color 0.3s;
  color: #545860;
  text-decoration: none;
  font-size: calc(18px + 2 * ((100vw - 320px) / 920));
}
.manager-phone__link:hover {
  color: #5E7CB3;
}

.manager-social {
  margin-top: 12px;
}
.manager-social__link {
  display: inline-block;
}

.manager-link:not(:last-child) {
  margin-right: 12px;
}
.manager-link__icon {
  height: 32px;
  width: 32px;
}

.message-form {
  margin-bottom: 64px;
}
.message-form__additional {
  margin-top: 16px;
}

.message-form-general__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.message-form-info__field,
.message-form-text__textarea {
  padding: 16px 24px;
  border: 1px solid #E6E6EB;
}
.message-form-info__field:not(:last-child),
.message-form-text__textarea:not(:last-child) {
  margin-bottom: 16px;
}

.message-form-text__textarea {
  height: 100%;
  overflow-y: auto;
  resize: none;
}
.message-form-text__textarea::-webkit-scrollbar {
  width: 0;
}

.message-form-additional__button {
  margin-right: 12px;
}

.message-form-personal-data {
  display: inline-block;
  max-width: 360px;
  color: #545860;
  font-size: 13px;
  line-height: 150%;
}
.message-form-personal-data__link {
  color: #5E7CB3;
  text-decoration: underline;
}

@media screen and (min-width: 1248px) {
  .contacts-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .contacts-content__map {
    flex: 0 0 480px;
    margin-right: 48px;
  }
  .message-form__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
  }
  .message-form__additional {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  .message-form-general__info {
    margin-right: 36px;
  }
  .message-form-info__field {
    width: 360px;
  }
  .message-form-text__textarea {
    width: 400px;
  }
}
@media screen and (max-width: 1247.98px) {
  .contacts-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .contacts-content__map {
    width: 100%;
    margin-top: 24px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1247.98px) {
  .message-form__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
  }
  .message-form__additional {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  .message-form-general__info {
    margin-right: 24px;
  }
  .message-form-info__field,
.message-form-text__textarea {
    width: 320px;
  }
}
@media screen and (min-width: 480px) and (max-width: 991.98px) {
  .message-form__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }
  .message-form__additional {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .message-form-info__field,
.message-form-text__textarea {
    width: 360px;
  }
  .message-form-text {
    margin-top: 16px;
  }
  .message-form-text__textarea {
    height: 160px;
  }
  .message-form-additional__button {
    margin-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .people {
    margin-bottom: 64px;
  }
  .people__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  .manager:first-child {
    margin-right: 80px;
  }
}
@media screen and (max-width: 767.98px) {
  .people {
    margin-bottom: 64px;
  }
  .people__inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .manager:first-child {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 479.98px) {
  .message-form__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }
  .message-form__additional {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .message-form-general__info {
    margin-bottom: 16px;
  }
  .message-form-info__field,
.message-form-text__textarea {
    width: 290px;
  }
  .message-form-text__textarea {
    height: 140px;
  }
  .message-form-additional__button {
    margin-top: 8px;
  }
}