.advantage-content {
  margin: 0;
}
.advantage-content__text {
  color: #545860;
  line-height: 120%;
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}

.cost {
  margin-top: 48px;
}
.cost:last-child {
  margin-bottom: 64px;
}

.cost-content__heading {
  margin-bottom: 8px;
  line-height: 120%;
}
.cost-content__heading span {
  font-size: 80%;
}

.cost-description {
  margin-top: 16px;
}
.cost-description__text {
  max-width: 640px;
  color: #545860;
  line-height: 160%;
}
.cost-description__text span {
  font-weight: 500;
}
.cost-description__text:not(:last-child) {
  margin-bottom: 8px;
}