.service-description__content p {
  max-width: 840px;
}

.service-section {
  max-width: 840px;
  margin-top: 32px;
}
.service-section:last-child {
  margin-bottom: 64px;
}
.service-section ul > li {
  list-style-type: disc;
}
.service-section ol > li {
  list-style-type: decimal;
}
.service-section__list {
  padding-left: 32px;
}
.service-section__list li {
  line-height: 160%;
}
.service-section__paragraph {
  margin-top: 16px;
}