*,
*::before,
*::after {
  z-index: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Regular.woff") format("woff"), url("../../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Medium.woff") format("woff"), url("../../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Bold.woff") format("woff"), url("../../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
}
h1 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(28px + 8 * ((100vw - 320px) / 920));
}

h2 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(24px + 8 * ((100vw - 320px) / 920));
}

h3 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(18px + 2 * ((100vw - 320px) / 920));
}

h4 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(16px + 2 * ((100vw - 320px) / 920));
}

h5 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}

h6 {
  color: #272D38;
  font-family: "Ubuntu";
  font-size: calc(12px + 2 * ((100vw - 320px) / 920));
}

p,
li,
button,
form,
input,
textarea,
th,
td {
  color: #545860;
  font-family: "Ubuntu";
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}

a,
i,
b,
em,
strong,
mark,
q {
  color: inherit;
  font: inherit;
  line-height: inherit;
}

.body[is_active] {
  overflow-y: hidden;
}

.body-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.body-wrapper__content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

._container {
  position: relative;
  width: 100%;
}

@media (min-width: 1248px) {
  ._container {
    padding-left: 96px;
    padding-right: 96px;
  }
}
@media (min-width: 992px) and (max-width: 1247.98px) {
  ._container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  ._container {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 767.98px) {
  .body-wrapper {
    max-width: 100vw;
  }
}
@media (min-width: 480px) and (max-width: 767.98px) {
  ._container {
    padding-left: 56px;
    padding-right: 48px;
  }
}
@media (max-width: 479.98px) {
  ._container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.page-head {
  margin-top: 48px;
}
.page-head-content__title {
  font-size: calc(20px + 10 * ((100vw - 320px) / 920));
}

.header {
  flex: 0 0 220px;
  min-height: 100vh;
  width: 220px;
  box-shadow: 0 0 32px rgba(84, 88, 96, 0.04);
  background-color: white;
}
.header__inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 24px;
}

.logo {
  display: block;
  width: 172px;
}

.menu {
  padding-left: 0;
}
.menu__item:not(:last-child) {
  margin-top: 4px;
}

.menu-item__link {
  transition: color 0.3s;
  display: inline-block;
  width: 100%;
  padding: 4px;
  text-align: center;
  text-decoration: none;
}
.menu-item__link:hover {
  color: #5E7CB3;
}

.social-link {
  transition: opacity 0.3s;
  display: inline-block;
  max-width: 36px;
  padding: 4px;
}
.social-link:not(:last-child) {
  margin-right: 4px;
}
.social-link:hover {
  opacity: 0.8;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-info__text {
  color: rgba(84, 88, 96, 0.8);
  text-align: center;
  font-size: calc(12px + 2 * ((100vw - 320px) / 920));
}

.header-email {
  margin-top: 4px;
}
.header-email__link {
  transition: color 0.3s;
  color: #545860;
  font-weight: 500;
  text-decoration: none;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}
.header-email__link:hover {
  color: #5E7CB3;
}

@media screen and (max-height: 500px), screen and (max-width: 767.98px) {
  .menu-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 48px;
    border-bottom-right-radius: 40px;
    background-color: white;
    z-index: 100;
  }
  .menu-btn[is_active] .menu-btn-content__line--top {
    transform: translateY(7px) rotate(45deg);
    transform-origin: center;
  }
  .menu-btn[is_active] .menu-btn-content__line--center {
    width: 0;
  }
  .menu-btn[is_active] .menu-btn-content__line--bottom {
    transform: translateY(-7px) rotate(-45deg);
    transform-origin: center;
  }
  .menu-btn-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .menu-btn-content__line {
    transition: transform 0.3s;
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: #545860;
  }
  .menu-btn-content__line:not(:last-child) {
    margin-bottom: 4px;
  }
  .menu-btn-content__line--center {
    transition: width 0.3s;
  }
  .header {
    display: none;
    opacity: 0;
    z-index: 90;
  }
  .header[is_active] {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
  }
  .header[is_active] .header__inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 0 auto;
  }
  .header-content__navigation {
    margin-top: 24px;
  }
  .header-content__info {
    margin-top: 24px;
  }
}
.footer {
  background-color: #5E7CB3;
}

.footer-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-main__lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.f-nav {
  padding-left: 0;
}
.f-nav__item:not(:last-child) {
  margin-bottom: 6px;
}

.f-nav-item__link {
  transition: opacity 0.3s;
  display: inline-block;
  position: relative;
  padding: 4px 0 5px 0;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
}
.f-nav-item__link::before {
  transition: width 0.3s;
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 1px;
  width: 0;
  background-color: #FFFFFF;
}
.f-nav-item__link:hover::before {
  width: 100%;
}
.f-nav-item--nested .f-nav-item__link {
  color: #E6E6EB;
}
.f-nav-item--nested .f-nav-item__link::before {
  background-color: #E6E6EB;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-contacts-data {
  flex: 0 0 100%;
}
.f-contacts-data__title {
  color: #E6E6EB;
}
.f-contacts-data__text {
  margin-top: 2px;
  color: #FFFFFF;
}
.f-contacts-data:not(:last-child) {
  margin-bottom: 16px;
}

.footer__additional {
  margin-top: 48px;
}

.footer-info__copyright {
  color: #FFFFFF;
}
.footer-info__policy {
  color: #E6E6EB;
}
.footer-info__copyright, .footer-info__policy {
  font-size: calc(12px + 2 * ((100vw - 320px) / 920));
}

.footer-policy__link {
  transition: color 0.3s;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: none;
}
.footer-policy__link:hover {
  color: #FFFFFF;
}

.footer-tech {
  color: #E6E6EB;
  font-size: calc(12px + 2 * ((100vw - 320px) / 920));
}
.footer-tech__link {
  transition: color 0.3s;
}
.footer-tech__link:hover {
  color: #FFFFFF;
}

@media (min-width: 1248px) {
  .footer {
    padding: 32px 64px;
  }
  .footer-main__lists {
    flex: 0 0 640px;
    flex-direction: row;
  }
  .footer-main__contacts {
    flex: 0 0 calc(100% - 700px);
  }
  .f-nav {
    flex: 0 0 50%;
  }
  .f-contacts-data--people {
    flex: 0 0 auto;
  }
  .f-contacts-data--people:not(:first-child) {
    margin-left: 64px;
  }
  .footer-additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 992px) and (max-width: 1247.98px) {
  .footer {
    padding: 32px 48px;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .footer-main__lists {
    flex: 0 0 520px;
    flex-direction: row;
  }
  .footer-main__contacts {
    flex: 0 0 calc(100% - 560px);
  }
  .f-nav {
    flex: 0 0 50%;
  }
  .f-contacts-data--people {
    flex: 0 0 auto;
  }
  .f-contacts-data--people:not(:first-child) {
    margin-left: 48px;
  }
  .footer-additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    padding: 32px 48px;
  }
  .footer-main__lists {
    flex: 320px;
    flex-direction: column;
  }
  .footer-main__contacts {
    flex: 0 0 calc(100% - 320px);
  }
  .f-nav {
    width: 320px;
  }
  .f-nav:not(:first-child) {
    margin-top: 6px;
  }
  .f-contacts-data--people {
    flex: 0 0 auto;
  }
  .f-contacts-data--people:not(:first-child) {
    margin-left: 36px;
  }
  .footer-additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (max-width: 767.98px) {
  .footer-main {
    flex-direction: column;
  }
  .footer-main__lists {
    flex-direction: column;
  }
  .footer-main__contacts {
    margin-top: 48px;
  }
  .f-nav {
    width: 320px;
  }
  .f-nav:not(:first-child) {
    margin-top: 6px;
  }
  .f-contacts-data--people {
    flex: 0 0 100%;
  }
  .footer-additional {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-tech {
    margin-top: 24px;
  }
}
@media (min-width: 480px) and (max-width: 767.98px) {
  .footer {
    padding: 24px 36px;
  }
}
@media (max-width: 479.98px) {
  .footer {
    padding: 16px 24px;
  }
}
.table-wrapper {
  overflow-x: auto;
}

.table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table__head {
  background-color: #FAFAFC;
}

.tb-head-row__cell {
  color: #272D38;
  font-weight: 500;
  text-align: left;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
}

.tb-head-row__cell,
.tb-body-row__cell {
  padding: 16px 24px;
}
.tb-head-row__cell,
.tb-body-row__cell {
  border: 1px solid #E6E6EB;
}
.tb-head-row__cell:first-child,
.tb-body-row__cell:first-child {
  border-left: 0;
}
.tb-head-row__cell:last-child,
.tb-body-row__cell:last-child {
  border-right: 0;
}

.tb-head-row__cell {
  border-top: 0;
}

.tb-body-row:first-child .tb-body-row__cell {
  border-top: 0;
}
.tb-body-row:last-child .tb-body-row__cell {
  border-bottom: 0;
}

.btn {
  display: inline-block;
  cursor: pointer;
}

@media (min-width: 1248px) {
  .btn {
    padding: 16px 50px;
  }
}
@media (max-width: 1247.98px) {
  .btn {
    padding: 12px 40px;
  }
}
@media (max-width: 767.98px) {
  .btn {
    padding: 12px 32px;
  }
}
.btn--primary {
  transition: background-color 0.3s;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 10%;
  font-size: calc(14px + 2 * ((100vw - 320px) / 920));
  background-color: #5E7CB3;
}
.btn--primary:hover {
  background-color: #476397;
}